   
body {background: #05baec; /* browsers sem suporte a css3 */}
body {background: -webkit-gradient(linear, left top, right top, from(#000000), to(#012c2e));/* webkit browsers */ }
body {background: -moz-linear-gradient(left, #31311e, #181317);/* firefox3.6+ */}
body { filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#C2C2C2', EndColorStr=' #FFFFFF');/* IE */
}


header{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
header img{width: 200px}
header nav{display: flex;}
header li a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 25px;
    font-family:'Cairo', sem serifa,'Maçã caseira', cursive,'Lobster',cursive;  
}
header li{margin: 0px 20px;}
header li:first-child{margin-left: 0;}
header li:last-child{margin-right: 0;}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
}

